<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <header>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>HAMBRE HAMBRE HAMBRE HAMBRE HAMBRE HAMBRE HAMBRE HAMBRE !</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      beatae quae autem corrupti provident illo possimus saepe deleniti facere,
      animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam
      inventore.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Veritatis, beatae quae autem corrupti provident illo possimus saepe
      deleniti facere, animi ducimus minima laborum nostrum commodi expedita.
      Animi nihil ullam inventore.
    </p>
    <button class="boton" type="submit">
      <a href="/delivery" class="a"><strong>DELIVERY</strong></a>
    </button>
    <button class="boton" type="submit">
      <a href="/salimos" class="a"><strong>SALIMOS</strong></a>
    </button>
    <button class="boton" type="submit">
      <a href="/usuarios" class="a"><strong>USUARIOS</strong></a>
    </button>
  </body>
</html>
