<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--link fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Playfair+Display&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <title>HAMBRE</title>
    <!--link css-->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <header>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>DONDE VAMOS DONDE VAMOS DONDE VAMOS DONDE VAMOS?</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, beatae quae autem corrupti provident illo possimus saepe deleniti facere, animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam inventore.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, beatae quae autem corrupti provident illo possimus saepe deleniti facere, animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam inventore.</p>
  </body>
</html>

