<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>DONDE VAMOS DONDE VAMOS DONDE VAMOS DONDE VAMOS?</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, beatae quae autem corrupti provident illo possimus saepe deleniti facere, animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam inventore.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, beatae quae autem corrupti provident illo possimus saepe deleniti facere, animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam inventore.</p>
  </body>
</html>

