<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <header>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>QUE PEDIMOS QUE PEDIMOS QUE PEDIMOS QUE PEDIMOS QUE PEDIMOS!</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      beatae quae autem corrupti provident illo possimus saepe deleniti facere,
      animi ducimus minima laborum nostrum commodi expedita. Animi nihil ullam
      inventore.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Veritatis, beatae quae autem corrupti provident illo possimus saepe
      deleniti facere, animi ducimus minima laborum nostrum commodi expedita.
      Animi nihil ullam inventore.
    </p>
    <form action="/delivery/registroDelivery">
      <h3 style="text-align: center">Comparti tu nueva experiencia</h3>
      <button class="boton" type="submit">
        <strong>Cargar producto</strong>
      </button>
    </form>
  </body>
</html>
