<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <header>
    <img class="img" src="/images/Hambre.gif" />
  </header>
  <body>
    <h1>Comparti tu experiencia</h1>
    <form
      method="POST"
      action="/delivery/registroDelivery"
      enctype="multipart/form-data"
    >
      <!-- El Enctype es el seteo para poder cargar imagenes por medio del paquete npm multer-->
      <section>
        <div>
          <label for="producto">producto</label>
          <input type="text" name="producto" />
        </div>
      </section>
      <section>
        <div>
          <label for="plato">plato</label>
          <input type="text" name="plato" />
        </div>
      </section>
      <section>
        <div>
          <label for="RestoOLocal">nombre del Resto o Local</label>
          <input type="text" name="RestoOLocal" />
        </div>
      </section>
      <section>
        <div>
          <label for="descripcion">descripcion</label>
          <input type="text" name="descripcion" />
        </div>
      </section>
      <section>
        <div>
          <label for="aptoVegano">apto vegano</label>
          <input type="text" name="aptoVegano" />
        </div>
      </section>
      <section>
        <div>
          <label for="precio">precio</label>
          <input type="text" name="precio" />
        </div>
      </section>
      <section>
        <div>
          <label for="puntuacion">puntuacion</label>
          <input type="text" name="puntuacion" />
        </div>
      </section>
      <section>
        <div>
          <label for="comentarios">comentarios</label>
          <input type="text" name="comentarios" />
        </div>
        <div>
          <label for="imagen"> carga tu foto!</label>
          <input type="file" name="image" id="imagen" />
        </div>
      </section>
      <input type="submit" value="Cargar" />
    </form>
    <%- include('../partials/footer')%>
  </body>
</html>
